#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;

            // <---[[moderate duration]]

            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        bore: BORE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LT &kp M &kp O &kp D &kp MINUS &kp D &kp I &kp A &kp M &kp GT &kp B &kp O &kp R &kp E>;
            label = "BORE";
        };

        BORE: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LT &kp LS(M) &kp LS(O) &kp LS(D) &kp MINUS &kp LS(D) &kp LS(I) &kp LS(A) &kp LS(M) &kp GT &kp LS(B) &kp LS(O) &kp LS(R) &kp LS(E) &kp RET &kp RET>;
            label = "NEW_MACRO";
        };

        rev00: rev00 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CLCK &kp LS(I) &kp LS(N) &kp LS(I) &kp LS(T) &kp LS(I) &kp LS(A) &kp LS(L) &kp SPACE &kp LS(R) &kp LS(E) &kp LS(L) &kp LS(E) &kp LS(A) &kp LS(S) &kp LS(E) &kp SPACE &kp LS(I) &kp LS(N) &kp SPACE &kp LS(A) &kp LS(C) &kp LS(C) &kp LS(O) &kp LS(R) &kp LS(D) &kp LS(A) &kp LS(N) &kp LS(C) &kp LS(E) &kp SPACE &kp LS(W) &kp LS(I) &kp LS(T) &kp LS(H) &kp SPACE &kp LS(N) &kp LS(E) &kp LS(W) &kp RET &kp LS(D) &kp LS(R) &kp LS(A) &kp LS(W) &kp LS(I) &kp LS(N) &kp LS(G) &kp SPACE &kp LS(S) &kp LS(T) &kp LS(A) &kp LS(N) &kp LS(D) &kp LS(A) &kp LS(R) &kp LS(D) &kp CAPS>;
            label = "REV00";
        };

        SBH: SBH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp B &kp H>;
            label = "SBH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*
        &trans  &trans  &trans  &trans  &trans  &trans                                   &trans  &trans  &trans  &trans  &trans  &trans 
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        &trans  &trans  &trans  &trans  &trans  &trans                                   &trans  &trans  &trans  &trans  &trans  &trans 
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                   &trans  &trans  &trans  &trans  &trans  &trans  &trans 
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans &trans  &trans  &trans  &trans  &trans  &trans  &trans 
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                &trans  &trans  &trans  &trans  &trans    &trans &trans  &trans  &trans  &trans
*/

        default_layer {
            bindings = <
&kp GRAVE     &kp N1                                    &kp N2     &kp N3        &kp N4            &kp N5                                  &kp N6             &kp N7             &kp N8         &kp N9           &kp N0       &kp BACKSPACE
&lt 2 TAB     &kp Q                                     &kp W      &kp E         &kp R             &kp T                                   &kp Y              &kp U              &kp I          &kp O            &kp P        &kp MINUS
&kp ESCAPE    &kp LEFT_SHIFT                            &kp A      &kp S         &kp D             &kp F      &kp G                                           &kp H              &kp J          &kp K            &kp L        &kp SEMICOLON  &kp SQT    &kp ENTER
&kp CAPSLOCK  &kp Z                                     &kp X      &kp C         &kp V             &kp B      &kp ENTER  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH      &kp N          &kp M            &kp COMMA    &kp PERIOD     &kp SLASH  &kp EQUAL
              &lt 1 C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp SPACE                               &kp SPACE          &kp RIGHT_COMMAND  &kp RIGHT_ALT  &kp RIGHT_SHIFT  &lt 3 ENTER
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Navigation {
            bindings = <
&trans        &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans        &trans    &trans
&trans        &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans        &trans    &trans
&trans        &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &kp UP_ARROW  &trans    &trans     &trans  &trans
&kp CAPSLOCK  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT      &kp DOWN  &kp RIGHT  &trans  &trans
              &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans        &trans
            >;
        };

        Functions {
            bindings = <
&kp C_BRI_DN  &kp C_BRIGHTNESS_INC  &kp LG(UP_ARROW)  &kp LG(SPACE)  &kp C_VOICE_COMMAND  &kp LS(LA(LC(LG(F6))))                  &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
&trans        &trans                &trans            &trans         &trans               &trans                                  &trans      &trans    &trans      &trans      &trans             &trans
&trans        &trans                &trans            &trans         &trans               &trans                  &trans                      &trans    &trans      &trans      &trans             &trans           &trans  &trans
&trans        &trans                &trans            &trans         &trans               &trans                  &trans  &trans  &trans      &trans    &trans      &trans      &trans             &trans           &trans  &trans
              &trans                &trans            &trans         &trans               &trans                                  &trans      &trans    &trans      &trans      &trans
            >;
        };

        Bluetooth {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR_ALL                  &kp ESC  &kp N7  &kp N8  &kp N9  &kp LS(STAR)  &kp FSLH
&trans        &trans        &trans        &trans        &bt BT_CLR    &bt BT_NXT                      &trans   &kp N4  &kp N5  &kp N6  &kp PLUS      &kp MINUS
&trans        &kp CAPS      &trans        &trans        &trans        &trans          &trans                   &trans  &kp N1  &kp N2  &kp N3        &trans     &trans        &kp RET
&trans        &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans   &trans  &trans  &trans  &kp N0        &trans     &kp CAPSLOCK  &kp BSPC
              &trans        &trans        &trans        &trans        &trans                          &trans   &trans  &trans  &trans  &SBH
            >;
        };
    };
};
